################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NP.Paradigms.Attrs/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NP.Paradigms.Attrs/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NP.Paradigms.Attrs/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NP.Paradigms.Attrs/obj/Debug/NP.Paradigms.Attrs.csproj.CoreCompileInputs.cache
/NP.Paradigms.Attrs/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/PropertyExpansionTest/obj/Debug
/PropertyExpansionTest/.vs/PropertyExpansionTest/v15/sqlite3
/TestPropertyExpansionProject/obj/Debug/TestPropertyExpansionProject.csproj.CoreCompileInputs.cache
/TestPropertyExpansionProject/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/TestPropertyExpansionProject/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/TestPropertyExpansionProject/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/TestPropertyExpansionProject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/PropertyExpansionTest/packages
/IntellisenseTest1_SAVE/bin/Debug
/IntellisenseTest1_SAVE/.vs/IntellisenseTest1/v15
/IntellisenseTest1_SAVE/obj/Debug
/IntellisenseTest1_SAVE/packages
/MyIntellisenseTest1/.vs/MyIntellisenseTest1/v15
/MyIntellisenseTest1/bin/Debug
/MyIntellisenseTest1/obj/Debug
/NP.Paradigms.Attrs/bin/Debug
/NP.Paradigms.Attrs/obj/Debug
/PropertyExpansionTest/bin/Debug
/TestPropertyExpansionProject/.vs/TestPropertyExpansionProject/v15/sqlite3
*.suo
*.ide
*.cache
/IntellisenseUI/obj/Debug
*.vsixmanifest
/NP.XAMLIntellisenseExtensionForVS2017/bin/Debug/Microsoft.VisualStudio.Validation.xml
/NP.XAMLIntellisenseExtensionForVS2017/bin/Debug/Microsoft.VisualStudio.Validation.dll
/NP.XAMLIntellisenseExtensionForVS2017/bin/Debug/Microsoft.VisualStudio.Threading.xml
/NP.XAMLIntellisenseExtensionForVS2017/bin/Debug/Microsoft.VisualStudio.Threading.dll
/NP.XAMLIntellisenseExtensionForVS2017/bin/Debug/Microsoft.VisualStudio.Text.UI.xml
/NP.XAMLIntellisenseExtensionForVS2017/bin/Debug/Microsoft.VisualStudio.Text.UI.dll
/NP.XAMLIntellisenseExtensionForVS2017/bin/Debug/Microsoft.VisualStudio.Text.Logic.xml
/NP.XAMLIntellisenseExtensionForVS2017/bin/Debug/Microsoft.VisualStudio.Text.Logic.dll
/NP.XAMLIntellisenseExtensionForVS2017/bin/Debug/Microsoft.VisualStudio.Text.Data.xml
/NP.XAMLIntellisenseExtensionForVS2017/bin/Debug/Microsoft.VisualStudio.Text.Data.dll
/NP.XAMLIntellisenseExtensionForVS2017/bin/Debug/Microsoft.VisualStudio.Language.Intellisense.xml
/NP.XAMLIntellisenseExtensionForVS2017/bin/Debug/Microsoft.VisualStudio.Language.Intellisense.dll
/NP.XAMLIntellisenseExtensionForVS2017/bin/Debug/Microsoft.VisualStudio.CoreUtility.xml
/NP.XAMLIntellisenseExtensionForVS2017/bin/Debug/Microsoft.VisualStudio.CoreUtility.dll
*.vsix
/NP.XAMLIntellisenseExtensionForVS2017/obj/Debug
/NP.XAMLIntellisenseExtensionForVS2017/.vs/NP.XAMLIntellisenseExtensionForVS2017/v15/sqlite3
/NP.XAMLIntellisenseExtensionForVS2017/bin/Release
/NP.XAMLIntellisenseExtensionForVS2017/obj/Release
/NP.XAMLIntellisenseExtensionForVS2017/.vs/NP.XAMLIntellisenseExtensionForVS2017/v15/Server/sqlite3
